@media (orientation: portrait) and (min-width: 360px) {
  html {
    font-size: 32.5%;
  }
}
@media (orientation: portrait) and (min-width: 410px) {
  html {
    font-size: 32.5%;
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  html {
    font-size: 32.5%;
  }
}
@media (orientation: landscape) {
  html {
    font-size: 32.5%;
  }
}
@media (orientation: landscape) and (min-width: 640px) {
  html {
    font-size: 42.5%;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  html {
    font-size: 52.5%;
  }
}
@media (orientation: landscape) and (min-width: 1280px) {
  html {
    font-size: 55.5%;
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  html {
    font-size: 62.5%;
  }
  .nav__bar_contain {
    display: none;
  }
}
